.dosContainer {
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.dosContent {
  background-color: black;
  margin: 3px;
}

.dosUser {
  color: #4E9F3D;
}

.dosUserDir {
  color: #96006F;
}

.dosDir {
  color: #D3F01D;
}

.typeText {
  display: inline-block;
}

.hero {
  text-align: center;
}

.imgProfile {
  max-width: 100%;
  max-height: 50vh;
}

img .card-img {
  height: 50%;
}

.socialIcon {
  max-width: 50%;
}

.contact-form {
  background: white;
  color: black;
}

.window {
  background: black;
  border: 1px solid;
  border-radius: 5px;
}

.windowTitle {
  font-family: 'Courier New', Courier, monospace;
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.folder:hover {
  opacity: 0.7;
}