.footer {
  border-top: solid 2px;
  background-color: gray;
}

.footerIcon {
  height: 30px;
  width: auto;
}

.footerIcon:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.footerText {
  font-size: 1rem;
  font-weight: bold;
}